*.psd filter=lfs diff=lfs merge=lfs -text
ApplicationProject/HazelProfile-Runtime.json filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
Hazel-Editor/HazelProfile-Runtime.json filter=lfs diff=lfs merge=lfs -text
