[submodule "HazelGameEngine/vendor/spdlog"]
	path = HazelGameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "HazelGameEngine/vendor/GLFW"]
	path = HazelGameEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "HazelGameEngine/vender/imgui"]
	path = HazelGameEngine/vender/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "HazelGameEngine/vendor/glm"]
	path = HazelGameEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "HazelGameEngine/vender/yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp.git
